<div class="exterior">
  <div class="body"></div>
    <div class="loginbox">
        <img src="../../../assets/avatar.svg" class="avatar">
        <h1 class="h1">Welcome</h1>
        <form>
          <p>Email</p>
          <input type="email" name="" placeholder="Email Address">
          <p>Password</p>
          <input type="password" name="" placeholder="Password">
          <input type="submit" name="" value="Login">
          <a href="#">forgotten password?</a><br>
          <a href="/register">don't have an account?</a>
        </form>
      </div>
</div>
<router-outlet></router-outlet>
