<div class="xterior">
  <div class="body"></div>
  <div class="register">
      <h1>Registration Form</h1>
      <form>
        <input type="file">
        <label>Firstname</label>
        <input type="text" name="" placeholder="Enter your name">
        <label>Lastname</label>
        <input type="text" name="" placeholder="Enter your Lastname">
        <label>Cellphone number</label>
        <select>
          <option>+254</option>
          <option>+258</option>
          <option>+264</option>
          <option>+27</option>
          <option>+252</option>
        </select>
        <input type="tel" name="" placeholder="Cellphone Number">
        <label>Email</label>
        <input type="email" name="" placeholder="name@example.com">
        <label>Gender </label>
        <input type="radio" name="male" id="male"><span id="male">&nbsp; Male</span>&nbsp;
        <input type="radio" name="male" id="male"><span id="male">&nbsp; Female</span>
        <label>Password</label>
        <input type="password" placeholder="Password">
        <label>Confirm password</label>
        <input type="password" placeholder=" Confirm password">
        <br><br>
        <input type="submit" name="" value="Register" class="button">
        <br>
        <p>Already have an account?</p><a routerLink="/login" href="login">Login</a>

      </form>
      
  </div>
</div>